//@media screen and (max-width: 1450px)
//  .results
//    &__players
//      &::before
//        left: 135px
//      &::after
//        right: 135px

@media screen and (max-width: 1280px)
  .predict
    &__multiplier
      margin: 10px 0 20px 0

@media screen and (max-width: 1100px)
  .title
    max-width: 500px
  .info
    max-width: 705px
    min-width: 705px
    &__item
      max-width: 210px
      height: 530px
      &-num
        max-width: 200px
      &-text
        font-size: 16px
        line-height: 24px
      &:nth-child(1)
        .info__item-text
          font-size: 24px

@media screen and (max-width: 1050px)
  .welcome
    padding-top: 30px
    margin: 0
    &__title
      max-width: 370px
    &__subtitle
      max-width: 330px
      margin-top: 345px
    &__prize
      max-width: 380px
      &::before
        width: 571px
        height: 178px
        bottom: -50px
    &__btn
      margin-top: 60px


@media screen and (max-width: 840px)
  .predict
    padding-bottom: 40px
  .results
    &__nav
      margin-top: 65px
    &__column
      &::before, &::after
        content: none
    &__players
      z-index: 3
      //&::before
      //  left: 365px
      //&::after
      //  right: 365px
  .info
    &__item
      &-popup
        &-close
          transform: translate(0, -100%)
        &._left
          left: 80%
        &._right
          left: 20%


@media screen and (max-width: 700px)
  .info
    &__list
      scale: .9
  .results
    &::after
      width: 620px
  .tableResults
    scale: .9
    margin-top: 0


@media screen and (max-width: 600px)
  .title
    max-width: 340px
  .btn
    width: 300px
    height: 68px
    font-size: 20px
    line-height: 28px
  .welcome
    max-width: 450px
    min-width: 450px
    padding-top: 15px
    height: 600px
    margin-bottom: 0
    &__btn
      margin-top: 25px
    &__title
      max-width: 250px
    &__subtitle
      max-width: 295px
      margin-top: 205px
    &__prize
      max-width: 340px
      &::before
        width: 535px
        height: 150px
        bottom: -50px
  .info
    min-width: 600px
    max-width: 600px
    background: url("../img/info/bg-mob.jpg") no-repeat 0 0/cover
    background-size: 100% 100%
    position: relative
    z-index: 3
    &::before, &::after
      content: ""
      display: block
      width: 100%
      height: 100px
      left: 0
      position: absolute
      z-index: 0
    &::before
      top: 0
      background: linear-gradient(180deg, #00003D 0%, rgba(0, 0, 61, 0.00) 100%)
    &::after
      bottom: -2px
      background: linear-gradient(0deg, #00003D 0%, rgba(0, 0, 61, 0.00) 100%)
    &__title
      transform: translate(0, -50%)
    &__list
      flex-direction: column
      scale: 1
      margin: -30px 0 0 0
      z-index: 2
    &__item
      min-width: 330px
      max-width: 330px
      height: 180px
      align-items: flex-end
      justify-content: center
      &:nth-child(1)
        .info__item-text
          font-size: 18px
          line-height: 20px
      &-num
        max-width: 100px
        position: absolute
        left: 0
        top: 0
      &-btn
        margin: 10px 85px 0 0
        width: 125px
        height: 30px
        font-size: 14px
        line-height: 14px
        padding: 0 0 2px 0
        background-size: 100% 100%
      &-text
        max-width: 210px
        min-width: 210px
        text-align: left
        font-size: 16px
  .results
    scale: .8
    transform-origin: top center
    margin-bottom: -230px
  .tableResults
    margin-bottom: -15px
    &__body
      max-height: 616px

@media screen and (max-width: 500px)
  .predict
    max-width: 375px
    min-width: 375px
    //left: 50%
    //transform: translate(-50%, 0)
    &::before
      height: 945px
      max-width: 358px
      min-width: 358px
      left: -100px
      z-index: 0
    &__wrap
      overflow: visible
      position: relative
      min-width: 100%
    &__title
      position: static
      z-index: 2
      picture
        z-index: 2
        position: relative
      &::before, &::after
        content: ""
        display: block
        width: 700px
        position: absolute
        left: -100px
        z-index: 1
        height: 330px
      &::before
        background: linear-gradient(180deg, #00003D 0%, rgba(0, 0, 61, 0.00) 100%)
        top: 70px
      &::after
        background: linear-gradient(0deg, #00003D 31%, rgba(0, 0, 61, 0) 100%)
        bottom: 0
        height: 630px
    &__multiplier
      z-index: 2
  .table
    max-width: 345px
    min-width: 345px
    &__tab
      position: absolute
      display: flex
      align-items: center
      justify-content: center
      gap: 5px
      &-item
        width: 8px
        height: 8px
        background: $green
        opacity: .3
        &._active
          opacity: 1
    &__move
      display: flex
      align-items: center
      width: 100%
      min-width: 365px
      position: absolute
      left: 0
      top: 40px
      height: 20px
      z-index: 10
      justify-content: space-between
      &-left, &-right
        width: 16px
        height: 26px
        background: url("../img/table/move-arrow.png") no-repeat 0 0/contain
      &-left
        transform: scale(-1, 1)
    &__body
      gap: 4px
    &__chose
      max-width: 310px
    &__body
      justify-content: flex-start
    &__column
      opacity: 0
      z-index: 0
      position: absolute
      left: 0
      width: 100%
      height: auto
      &-title
        margin-bottom: 20px
      &-subtitle
        background-size: 100% 100%
      &._active
        position: relative
        z-index: 1
        opacity: 1
      &._lock
        .table
          &__column
            &-subtitle
              background-size: 100% 100%
  .results
    max-width: 600px
    min-width: 600px
    scale: 1
    margin-bottom: 0
    &__players
      width: 100%
      height: 100%
      z-index: 4
    &__column
      top: -90px
    &__nav
      max-width: 100vw
      display: flex
      align-items: center
      justify-content: center
      margin-top: 25px
      &-item
        display: none
        &._active
          display: block
          &::before
            content: none

  .tableResults
    max-width: 345px
    min-width: auto
    overflow-x: auto
    scale: 1
    margin-bottom: 0
    &::-webkit-scrollbar-thumb
      height: 2px
      background: $green
    &::-webkit-scrollbar
      background: rgba($green, .2)
      border-radius: 5px
      height: 2px
    &__body
      max-height: 440px
    &__head, &__wrapp
      min-width: 690px
    &__row
      &.place1, &.place2, &.place3
        &::before
          left: 30px
      &-item
        &:nth-child(1)
          padding-left: 55px
      &._your
        left: 6px
        width: calc(100% - 12px)
        .tableResults__row-item:nth-child(1)
          width: 79px
          padding-left: 47px

@media screen and (max-width: 380px)
  .welcome
    min-width: 380px
    max-width: 380px
    height: 500px
    &__subtitle
      margin-top: 170px
    &__prize
      &::before
        width: 455px
        height: 130px
        bottom: -30px


@media screen and (max-width: 340px)
  .welcome
    &__subtitle
      max-width: 250px
    &__prize
      max-width: 300px
