.menu-test
    button.dark-btn dark
    button.lng-btn en
    button.auth-btn auth
    button.stage-btn
    button.clear-btn clear
.fav-page#legendary-trophy
    .welcome
        .welcome__title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/welcome/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/welcome/title-desc-en.png" alt="Favbet")
        .welcome__subtitle
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/welcome/subtitle-desc-en.png" alt="Favbet")
        .welcome__prize
            picture
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/prize-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/prize-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/prize-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/welcome/prize-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/welcome/prize-desc.png" alt="Favbet")
        a(href="/login/" data-translate="signBtn").welcome__btn.btn.unauth-msg.hide
        .welcome__btn.btn.btn-join.hide(data-translate="joinBtn")
        .welcome__btn.btn.took-part.hide(data-translate="playBtn")
    .info
        .info__title.title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-tab.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/info/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-tab-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-en.png" alt="Favbet")
        .info__title._dark.title
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-tab-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-en.png" alt="Favbet")
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-dark.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-mob-dark.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-tab-dark.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-dark.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/info/title-desc-dark.png" alt="Favbet")
        .info__list
            .info__item
                .info__item-num
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor1-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor1-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor1-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor1-desc.png")
                        img(src="https://fav-prom.com/html/legendary-trophy/img/info/decor1-desc.png" alt="Favbet")
                .info__item-text(data-translate="infoText1")
                .info__item-btn(data-translate="popupBtn")
                .info__item-popup.opacity
                    .info__item-popup-close
                    .info__item-popup-scroll
                        .info__item-popup-text(data-translate="infoPopup1")
            .info__item
                .info__item-num
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor2-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor2-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor2-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor2-desc.png")
                        img(src="https://fav-prom.com/html/legendary-trophy/img/info/decor2-desc.png" alt="Favbet")
                .info__item-text(data-translate="infoText2")
                .info__item-btn(data-translate="popupBtn")
                .info__item-popup.opacity
                    .info__item-popup-close
                    .info__item-popup-scroll
                        .info__item-popup-text(data-translate="infoPopup2")
            .info__item
                .info__item-num
                    picture
                        source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor3-mob.png")
                        source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor3-mob.png")
                        source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor3-tab.png")
                        source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/info/decor3-desc.png")
                        img(src="https://fav-prom.com/html/legendary-trophy/img/info/decor3-desc.png" alt="Favbet")
                .info__item-text(data-translate="infoText3")
                .info__item-btn(data-translate="popupBtn") 
                .info__item-popup.opacity
                    .info__item-popup-close
                    .info__item-popup-scroll
                        .info__item-popup-text(data-translate="infoPopup3")
    .predict#predict
        .predict__title.title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-en.png" alt="Favbet")
        .predict__title._dark.title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-dark.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-dark.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-tab-dark.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-dark.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-dark.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/predict/title-desc-en.png" alt="Favbet")
        .predict__wrap
            .table
                .table__move
                    .table__move-left
                    .table__move-right
                    .table__tab
                        .table__tab-item
                        .table__tab-item
                        .table__tab-item
                        .table__tab-item
                .table__column.stage1-8
                    .table__column-title
                        img(src="https://fav-prom.com/html/legendary-trophy/img/table/stage1-8.png" alt="Favbet")
                    .table__column-subtitle(data-translate="columnSubtitle1-8") 
                    .table__body
                        .table__pair
                            .table__chose.win
                                .table__team.team1._active
                                    .table__team-radio
                                    .table__team-name Реал Мадрид
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2
                                    .table__team-radio
                                    .table__team-name Манчестер Юнайтед
                            .table__chose.lose
                                .table__team.team1._active
                                    .table__team-radio
                                    .table__team-name Барселона
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2
                                    .table__team-radio
                                    .table__team-name Баварія
                        .table__pair
                            .table__chose.win
                                .table__team.team1._active
                                    .table__team-radio
                                    .table__team-name Ліверпуль
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2
                                    .table__team-radio
                                    .table__team-name Ювентус
                            .table__chose.lose
                                .table__team.team1
                                    .table__team-radio
                                    .table__team-name Парі Сен-Жермен
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2._active
                                    .table__team-radio
                                    .table__team-name Челсі
                        .table__pair
                            .table__chose.win
                                .table__team.team1
                                    .table__team-radio
                                    .table__team-name Манчестер Сіті
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2._active
                                    .table__team-radio
                                    .table__team-name Атлетіко Мадрид
                            .table__chose.lose
                                .table__team.team1._active
                                    .table__team-radio
                                    .table__team-name Інтер
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2
                                    .table__team-radio
                                    .table__team-name Мілан
                        .table__pair
                            .table__chose.win._active
                                .table__team.team1
                                    .table__team-radio
                                    .table__team-name Арсенал
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2
                                    .table__team-radio
                                    .table__team-name Тоттенхем
                            .table__chose.lose
                                .table__team.team1
                                    .table__team-radio
                                    .table__team-name Боруссія Дортмунд
                                .table__chose-center
                                    .table__chose-win(data-translate="predictWin") 
                                    .table__chose-lose(data-translate="predictLose") 
                                    .table__chose-date 03.03
                                    .table__chose-icon
                                    .table__chose-time 12:00
                                .table__team.team2._active
                                    .table__team-radio
                                    .table__team-name Наполі
                .table__column.stage1-4
                    .table__column-title
                        img(src="https://fav-prom.com/html/legendary-trophy/img/table/stage1-4.png" alt="Favbet")
                    .table__column-subtitle(data-translate="columnSubtitle1-4") Оберіть 4 команди
                    .table__body
                        .table__chose.win
                            .table__team.team1._active
                                .table__team-radio
                                .table__team-name Реал Мадрид
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2
                                .table__team-radio
                                .table__team-name Барселона
                        .table__chose.lose
                            .table__team.team1
                                .table__team-radio
                                .table__team-name Ліверпуль
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2._active
                                .table__team-radio
                                .table__team-name Парі Сен-Жермен
                        .table__chose.lose
                            .table__team.team1._active
                                .table__team-radio
                                .table__team-name Манчестер Сіті
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2
                                .table__team-radio
                                .table__team-name Інтер
                        .table__chose.win
                            .table__team.team1._active
                                .table__team-radio
                                .table__team-name Арсенал
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2
                                .table__team-radio
                                .table__team-name Боруссія Дортмунд
                .table__column.stage1-2
                    .table__column-title
                        img(src="https://fav-prom.com/html/legendary-trophy/img/table/stage1-2.png" alt="Favbet")
                    .table__column-subtitle(data-translate="columnSubtitle1-2")
                    .table__body
                        .table__chose.lose
                            .table__team.team1
                                .table__team-radio
                                .table__team-name Парі Сен-Жермен
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2._active
                                .table__team-radio
                                .table__team-name реал мадрид
                        .table__chose.win
                            .table__team.team1.active
                                .table__team-radio
                                .table__team-name арсенал
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2
                                .table__team-radio
                                .table__team-name ліверпуль
                .table__column.stage-final
                    .table__column-title
                        img(src="https://fav-prom.com/html/legendary-trophy/img/table/stage-final.png" alt="Favbet")
                    .table__column-subtitle(data-translate="columnSubtitleFinal") 
                    .table__body
                        .table__chose.lose
                            .table__team.team1._active
                                .table__team-radio
                                .table__team-name арсенал
                            .table__chose-center
                                .table__chose-win(data-translate="predictWin") 
                                .table__chose-lose(data-translate="predictLose") 
                                .table__chose-date 03.03
                                .table__chose-icon
                                .table__chose-time 12:00
                            .table__team.team2
                                .table__team-radio
                                .table__team-name ліверпуль
        .predict__multiplier
            .predict__multiplier-text(data-translate="multiplier") Множник
            .predict__multiplier-num 1
        a(href="/login/" data-translate="signBtn").predict__btn.btn.unauth-msg.hide
        .predict__btn.btn.btn-join.hide(data-translate="joinBtn") 
        .predict__btn.btn.confirmBtn.hide._lock(data-translate="confirmBtn") 
        .predict__bottom(data-translate="predictBottom")
    .results
        .results__players
        .results__column
        .results__title.title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-desc.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/results/title-desc.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-en.png" alt="Favbet")
        .results__title._dark.title
            picture.uk
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-dark.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-dark.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-tab-dark.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-dark.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-dark.png" alt="Favbet")
            picture.en
                source(media="(max-width: 600px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 450px)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(min-width: 601px) and (max-width: 1050px) and (orientation: portrait)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-mob-en.png")
                source(media="(min-width: 601px) and (orientation: landscape)" srcset="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-en.png")
                img(src="https://fav-prom.com/html/legendary-trophy/img/results/title-desc-en.png" alt="Favbet")
        .results__move
            .results__move-left
            .results__move-right
        .results__tab
            .results__tab-item
            .results__tab-item
            .results__tab-item
            .results__tab-item
        .results__nav
            .results__nav-item
            .results__nav-item
            .results__nav-item
            .results__nav-item
        .tableResults
            .tableResults__head
                .tableResults__head-col(data-translate="tablePlace")
                .tableResults__head-col(data-translate="tableId")
                .tableResults__head-col(data-translate="tablePoints")
                .tableResults__head-col(data-translate="tableMultiplier")
                .tableResults__head-col(data-translate="tableTotalPoints")
                .tableResults__head-col(data-translate="tablePrize")
            .tableResults__wrapp
                .tableResults__body#results-table
                .tableResults__body-other#results-table-other
        a(href="/login/" data-translate="signBtn").results__btn.btn.unauth-msg.hide
        .results__btn.btn.btn-join.hide(data-translate="joinBtn") 
        .results__btn.btn.took-part.hide(data-translate="playBtn")
        .results__bottom(data-translate="resultsBottom")
    .drop
        details.dropdown
            summary(data-translate="rulesBtn")
            .top-decor
            .drop-txt
                .drop-txt-list(data-translate="rulesText")
            .bottom-decor